.accordian {
	.portfolio-item {
		border-top: solid 1px $light-grey;
		.accord-toggle {
			display: block;
			@include clearfix;
			.icon-link {
				float: left;
				margin-right: 1.5em;
				@include adjust-font-size-to(16px, 2.3);
			}
			h3 {
				@extend %open_sansregular;
				@include adjust-font-size-to(18px, 2.5);
				//@include fittext($min-media: 320px, $max-media: 1900px, $min-font-size: 18px, $max-font-size: 24px, $media-increment: 100, $font-increment: 2.5, $ratio: 1, $round: false);
				display: block;
				text-align: left;
				color: $grey;
				//@extend %bdr;
				&.position {
					float: left;
				}
				&.location {
					float: right;
					//min-width: 200px;
					text-transform: capitalize;
				}
			}
			&.active,
			&:hover {
				cursor: pointer;
				.icon-link i, h3 {
					color: $red !important;
				}
			}
		}
		&.active {
				.toggle {
					.icon-link i, h3 {
					color: $red !important;
				}
			}
		}
		.inner {
			//@extend %bdr;
			@include rhythm(0, 0, 2, 0); //Margin top, Padding top, Padding bottom, Margin bottom
			> li {
				padding:0 2.8em;
				p {
					@include adjust-font-size-to(16px, 1);
				}
			}
		}
	}
}


.inner-margin {
	margin-left: -2em;
	margin-top: -64px;
}
// body.page-template-careers-page-php {
// .icon-link {
// 	margin-left: -2em;
// 	}
// }


.transcript {
	.icon-link {
		.fa-chevron-circle-up {
			margin: 2px 15px 0 -52px;
		}
	}
}