.accordian {
	.portfolio-item {
		border-top: solid 1px $light-grey;
		.accord-toggle {
			display: table;
			//height: 50px;
			padding: 1em 0;
			@include clearfix;
			.icon-link {
				display: table-cell;
			}
			h3 {
				display: table-cell;
				//@extend %bdr;
				padding-left: 1em;
				@extend %open_sansregular;
				@include adjust-font-size-to(20px, 1.2);
				@include fittext($min-media: 320px, $max-media: 1900px, $min-font-size: 14px, $max-font-size: 20px, $media-increment: 100, $font-increment: 2.5, $ratio: 1, $round: false);
				//display: block;
				text-align: left;
				color: $grey;
				&.position {
					margin-right: 2em;
					width: 70%;
				}
				&.location {
					font-size: 15px;
					@include fittext($min-media: 320px, $max-media: 1900px, $min-font-size: 12px, $max-font-size: 15px, $media-increment: 100, $font-increment: 2.5, $ratio: 1, $round: false);
					width: 30%;
					text-align: right;
					text-transform: uppercase;
				}
			}
			&.active,
			&:hover {
				cursor: pointer;
				.icon-link i, h3 {
					color: $red !important;
				}
			}
		}
		&.active {
			.toggle {
				.icon-link i, h3 {
					color: $red !important;
				}
			}
		}
		.inner {
			//@extend %bdr;
			@include rhythm(0, 0, 2, 0); //Margin top, Padding top, Padding bottom, Margin bottom
			padding:0 1.8em;
			ul {
					@include rhythm(0, 0, 0, 1); //Margin top, Padding top, Padding bottom, Margin bottom
					>	li {
						list-style-type: disc;
						margin-left: 24px;
						@include adjust-font-size-to(16px, 1);
					}
				}
			}
		}
	}


	.inner-margin {
		margin-left: -2em;
		margin-top: -64px;
	}
// body.page-template-careers-page-php {
// .icon-link {
// 	margin-left: -2em;
// 	}
// }


.transcript {
	.icon-link {
		.fa-chevron-circle-up {
			margin: 2px 15px 0 -52px;
		}
	}
}