.page-footer {
	background: #595959;
	color: #cdcdcd;
	.copyright-details {
		@include adjust-font-size-to(14px, 1);
	}
	nav, div {
		@include column(6);
		//Small
		@media screen and (max-width: $m) {
			@include column(12);
		}
		ul {
			li {
				float: left;
				//Meduim
				@media screen and (max-width: $m) {
					text-align: center;
				}
				a {
					color: $white;
					text-decoration: none;
					&:hover {
						color: $light-grey;
					}
				}	
			}
		}
	}
	.footer-menu {
			//Meduim
			@media screen and (max-width: $m) {
				float: none;
				display: table;
				margin: 0 auto;
			}
			li {
				margin-right: 1em;
				a {
					@include adjust-font-size-to(14px, 1);
				}
				//Meduim
				@media screen and (max-width: $m) {
					display: block;
					text-align: center;
					margin: 0 1em;
				}
				//Small
				@media screen and (max-width: $s) {
					display: block;
					float: none;
					text-align: center;
					margin: 0;
				}
				a {
					color: #cdcdcd;
					&:hover {
						color: #8b8b8b;
					}
				}
				&.current_page_item {
					a {
						color: #8b8b8b;
					}
				}
			}
		}
	}
