.page-footer {
	background: #595959;
	color: #cdcdcd;
	height: auto;
	.copyright-details {
		@include adjust-font-size-to(14px, 1);
		color: #8b8b8b;
		@media screen and (max-width: $m) {
			text-align: center;
		}
	}
	nav, div {
		@include column(6);
		//Small
		@media screen and (max-width: $m) {
			@include column(12);
		}
		ul {
			li {
				float: left;
				//Meduim
				@media screen and (max-width: $m) {
					text-align: center;
				}
				a {
					color: $white;
					text-decoration: none;
					&:hover {
						color: $light-grey;
					}
				}	
			}
		}
	}
	.footer-menu {
			//Meduim
			@media screen and (max-width: $m) {
				float: none;
				display: table;
				margin: 0 auto;
			}
			li {
				margin-right: 1em;
				a {
					@include adjust-font-size-to(14px, 1);
				}
				//Meduim
				@media screen and (max-width: $m) {
					display: block;
					text-align: center;
					margin: 0 1em;
				}
				//Small
				@media screen and (max-width: $s) {
					display: block;
					float: none;
					text-align: center;
					margin: 0;
				}
				a {
					color: #cdcdcd;
					&:hover {
						color: #8b8b8b;
					}
				}
				&.current_page_item {
					a {
						color: #8b8b8b;
					}
				}
			}
		}
		section {
			@extend %max-width;
			margin: 0 auto;
		}
	}



// .page-wrapper {
// 	min-height: 100%;
// 	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
// 	height: 100%;
// 	margin: 0 auto -200px; /* the bottom margin is the negative value of the footer's height */
// 	@media screen and (max-width: $m) { 
// 		margin: 0 auto -300px;
// 	}
// 	@media screen and (max-width: $s) { 
// 		height: -400px;
// 	}
// }
// .page-footer, .push {
// 	height: 200px; /* .push must be the same height as .footer */
// 	@media screen and (max-width: $m) { 
// 		height: 300px;
// 	}
// 	@media screen and (max-width: $s) { 
// 		height: 400px;
// 	}
// }