.gform_wrapper {
	form {
		.gfield {
			margin-bottom: 15px;
			input[type=text],
			input[type=url],
			input[type=email],
			input[type=tel],
			input[type=number],
			input[type=password] {
				@extend %open_sansregular;
				color: $white;
				border: none;
				background-color: rgba(255,255,255,0.5);
				width: 100%;
				padding: 0.5em; 
				@include input-placeholder {
        	color: $white;
        }
			}
		}
	}
}

// input[type=submit] {
// 	color: $white;
// 	border: none;
// 	background-color: darken($mustard, 10%);
// 	padding: 0.5em; 
// }
.validation_error {
	margin-bottom: 20px;
}

.validation_message {
	color: red !important;
	font-size: 14px;
}

[placeholder]:focus::-webkit-input-placeholder {
  @include transition(text-indent 0.5s 0.2s ease);
  text-indent: -100%;
  opacity: 1;
}

