//Icons
$icon-size: 35px;

.jump {
	position: fixed;
	right: 1em;
	bottom: 0.5em;
	z-index: 200;
	//Small
	@media screen and (max-width: 37.5em) {
		display: none;
		visibility: hidden;
	}
	li {
		display: table;
		width: $icon-size;
		height: $icon-size;
		@include rhythm(0.4, 0, 0, 0.4); //Margin top, Padding top, Padding bottom, Margin bottom
		a {
			border: solid 1px $light-grey;
			@include border-radius(50px);
			display: table-cell;
			text-align: center;
			background: $grey;
			color: $white;
			vertical-align: middle;
			text-decoration: none;
			font-size: 24px;
			i {
				display: block;
			}
			&.go-up {
				//opacity: 0;
			}
			&.show-me {
				//opacity: 1;
			}
			&.inactive {
				opacity: 0;
				display: none;
			}
			&:hover {
				@include transition(all 0.2s ease-in-out);
				background: $dark-grey;
				color: $white;
				border: solid 2px $grey;
			}
		}
	}
}


.social {
	ul {
		float: right;
			//Meduim
			@media screen and (max-width: 60em) {
				float: none;
				display: table;
				margin: 0 auto;
				@include rhythm(0, 2, 0, 0); //Margin top, Padding top, Padding bottom, Margin bottom
			}
		li {
			margin-left: 1em;
			//Meduim
			@media screen and (max-width: 60em) {
				margin: 0 0.5em;
				text-align: center;
			}
			a {
				border: solid 1px $light-grey;
				@include border-radius(50px);
				display: block;
				width: $icon-size;
				height: $icon-size;
				text-align: center;
				position: relative;
				top: 50%;
				@include adjust-font-size-to(17px, 1.2);
				@include transition-duration(0.5s);
				@include transition-timing-function(ease-out);
				&:hover {
					background: $white;
					color: $grey;
					@include transition-duration(0.2s);
					@include transition-timing-function(ease-out);
					@include scale(1.2);
				}
			}
		}
	}
}


//Close
.fa-times-circle {
	margin-bottom: 2em;
	color: $white;
	position: absolute;
	top: 0;
	right: 0;
	&:hover {
		cursor: pointer;
		color: rgba(255,255,255,0.7);
	}
}