$lp-container-height: 188px;

body.page-template-landing-page-php, {
	.landing-page {
		li {
			position: relative;
			@include border-radius(25px);
			@include column(6);
			background:#fff url(../img/landing-page-bg.png) no-repeat center right;
			height: $lp-container-height;
			overflow: hidden;
			@include box-shadow(#999 0px 2px 2px);
			@include rhythm(0, 0, 0, 1); //Margin top, Padding top, Padding bottom, Margin bottom
			.lp-content {
				position: relative;
				display: table;
				height: $lp-container-height; //See line 1
				width: 60%;
				span {
					display: table-cell;
					vertical-align: middle;
					padding: 0 1em 0 2em;
					h1 {
						@include adjust-font-size-to(30px, 1.5);
						@include rhythm(0, 0, 0, 0.2); //Margin top, Padding top, Padding bottom, Margin bottom
						width: 200px;
						display: block;
						text-decoration: none;
					}
					p {
						@include adjust-font-size-to(14px, 0.9);
					}
				}
			}
			.lp-image-container {
				position: absolute;
				height: $lp-container-height; //See line 1
				width: 40%;
				top: 0;
				right: 0;
				img {
					width: 95%;
				}
			}
			//Meduim screen
			@media screen and (max-width:60em) {
				@include column(12);
				@include rhythm(0, 0, 0, 1); //Margin top, Padding top, Padding bottom, Margin bottom
				.lp-content {
					width: 70%;
					span {
						h1 {
							width: 100%;
						}
					}
				}
				.lp-image-container {
					width: 30%;
					img {
						width: 100%;
					}
				}
			}
			//Small screen
			@media screen and (max-width:37.5em) {
				@include column(12);
				@include rhythm(0, 0, 0, 1); //Margin top, Padding top, Padding bottom, Margin bottom
				background-position: 80% 0;
				.lp-content {
					width: 80%;
					span {
						padding: 0 0 0 1.5em;
						h1 {
							@include adjust-font-size-to(20px, 1);
							width: 100%;
						}
						p {
							@include adjust-font-size-to(12px, 0.8);
						}
					}
				}
				.lp-image-container {
					width: 20%;
					img {
						margin-top: 40px;
					}
				}
			}
			//Hover state
			&:hover {
				h1 {
					//color: darken($purple, 10%);
				}
				//background-color: darken($purple, 10%);
				cursor: pointer;
				//@include single-box-shadow;
			}			
		}
	}
}

//Colours - Solutions
body.page-template-landing-page-php.page-id-22 {
	.landing-page {
		li {
			background-color: $purple;
			.lp-content {
				span {
  				h1 {
						color: $purple;
					}
					p {
						color: $grey;
					}
				}
			}
			//Hover state
			&:hover {
				span {
					h1 {
					color: darken($purple, 10%);
					}
					p {
						color: $grey;
					}
				}
				background-color: darken($purple, 10%);
				}			
			}
		}
	}

//Colours - Products
body.page-template-landing-page-php.page-id-23 {
	.landing-page {
		li {
			background-color: $blue;
			.lp-content {
				span {
  				h1 {
						color: $blue;
					}
					p {
						color: $grey;
					}
				}
			}
			//Hover state
			&:hover {
				span {
					h1 {
					color: darken($blue, 10%);
				}
				p {
						color: $grey;
					}
				}
				background-color: darken($blue, 10%);
				}			
			}
		}
	}
