.side-menu {
	@include adjust-font-size-to(12px, 1.2);
	text-transform: uppercase;
	@include rhythm(0, 0, 0, 2); //Margin top, Padding top, Padding bottom, Margin bottom
	li {
		//display: none;
		&.page_item_has_children {
			display: block;
		}
		//@include rhythm(0, 0.5, 0.5, 0); //Margin top, Padding top, Padding bottom, Margin bottom
		&:hover {
			color: $red;
			cursor: pointer;
		}
		&.filter {
			border-top: solid 1px $light-grey;
			border-bottom: solid 1px $light-grey;
			&.active {
				margin: 0;
				border-top: solid 1px $border;
				border-bottom: solid 1px $border;
				color: $red;
				a {
				color: $red;
				}
			}
		}
		a {
			color: darken($light-grey, 30%);
			@include rhythm(0, 0.2, 0.2, 0); //Margin top, Padding top, Padding bottom, Margin bottom
			text-decoration: none;
			display: block;
			border-top: solid 1px rgba($menu-grey, 0);
			border-bottom: solid 1px rgba($menu-grey, 0);
			line-height: 21px;
			&:hover {
				color: $red;
			}
		}
		&.current_page_item > a {
			color: $red;
			border-top: solid 1px $border;
			border-bottom: solid 1px $border;
		}
	}
}


//Left side menu on sub pages
.side-menu {
	li {
		.widgettitle {
			display:none;
		}
		ul {
			li {
				display: none;
				&.page_item_has_children {
					display: block;
					ul.children {
						li {
							display: block;
						}
					}
				}
			}
		}
	}
}


//Left side menu on index and archive pages
.side-menu {
	li {
		a {
			cursor: pointer;
		}
		&.all, &.current {
			a {
				border-top: solid 1px $border;
				border-bottom: solid 1px $border;
				color: $red;
			}
		}
	}
}



//Left side menu contact and location pages
.page-template-office-locations-php {
	.side-menu {
		li {
			.widgettitle {
				display:none;
				//display: block;
			}
			ul {
				li {
					//display: none;
					display: block;
					&.page_item_has_children {
						display: block;
						ul.children {
							li {
								display: block;
							}
						}
					}
				}
			}
		}
	}
}


// .side-menu {
// 	li {
// 		.widgettitle {
// 			display:none;
// 		}
// 		&.page_item_has_children {
// 			display:block;
// 		}
// 	}
// }

.controls, .links {
	li {
		display: block;
		&:first-child{
			a {
				color: $red;
				//border-top: solid 1px $light-grey;
				border-bottom: solid 1px $border;
				cursor: default;
			}
		}
	}
}