//Main menu structure
.main-navigation { //Main Navigation
	@include column(10);
	position: relative;
	@extend %bdr;
	float: right;
	@include clearfix;
	//Meduim
	@media screen and (max-width: 60em) {
		@include column(1);
	}
	> ul {
		float: right;
		//Meduim
		@media screen and (max-width: 60em) {
			display: none;
		}
	>	li {
			@extend %bdr;
			float: left;
			position: relative;
			@include clearfix;
			text-align: right;
			margin-left: 3em;
			position: relative;
			i {
				position: absolute;
				top: 16px;
				right: -20px;
			}
			//Meduim
			@media screen and (max-width: 84em) {
				margin-left: 2em;
			}
			a {
				text-decoration: none;
				color: $grey;
				display:block;
				@include adjust-font-size-to(14px, 2);
				text-transform: uppercase;
			}
			&:hover .sub-menu {
				position: relative;
				left: 0;
				//display: block;
			}
			.sub-menu {
				background: pink;
				//left:-9999px;
				//display: none;
				margin: 0;
				padding: 0;
				li {
					display: block;
					margin: 0;
					@extend %bdr;
					a {
						display: block;
					}
				}
			}
		}
	}
}


// .main-navigation {
// 	@include column(10);
// 	@extend %bdr;
// 	> ul {
// 		//float: right;
// 	>	li {
// 			@extend %bdr;
// 			@include column(2);
// 			a {
// 				text-decoration: none;
// 				color: $grey;
// 				display:block;
// 				@include adjust-font-size-to(14px, 2);
// 				text-transform: uppercase;
// 			}
// 			i {
// 				position: absolute;
// 				top: 16px;
// 				right: -20px;
// 			}
// 		}
// 	}	
// }

// .sub-nav-wrapper {
// 	margin-left: 183px;
// 	@include clearfix;
// 	.sub-navigation {
// 	@include column(10);
// 	//padding-left: 183px;
// 	> ul {
// 		position: relative;
// 		@extend %bdr;
// 		width: 150px;
// 		float: left;
// 		//@include column(2);
// 	>	li {
// 			@extend %bdr;
// 			position: relative;
// 			a {
// 				text-decoration: none;
// 				color: $grey;
// 				display:block;
// 				@include adjust-font-size-to(14px, 2);
// 				text-transform: uppercase;
// 				}
// 			}
// 		}
// 	}
// }



//Detached menu
.detached {
	position: fixed;
	width: 100%;
	top: -200px;
	@include transition-duration(0.5s);
	@include transition-timing-function(ease-out);
	background: $white;
	padding: 0 !important;
	&.header-ani {
		top: 0px;
		@include transition-duration(0.5s);
		@include transition-timing-function(ease-out);
		@include rhythm(0, 0, 0, 0); //Margin top, Padding top, Padding bottom, Margin bottom
		@include box-shadow($black 1px 1px 2px);
		z-index: 100;
		.page-wrapper__wide__inner {
			.main-navigation {
			>	ul {
				>	li {
						margin-left: 2em;
						a {
							@include adjust-font-size-to(10px, 2);
						}
					}
				}
			}
		}
	}
}