body.blog,
body.archive,
body.page-template-events-page-php,
body.page-template-in-the-media-page-php {
	.post-list {
		li {
			h2 {
				@include adjust-font-size-to(24px, 1.3);
				@include fittext($min-media: 320px, $max-media: 1900px, $min-font-size: 1em, $max-font-size: 1.5em, $media-increment: 100, $font-increment: 2.5, $ratio: 1, $round: false);
				width: 75%;
				color: $grey;
				@media screen and (max-width: 37.5em) {
					width: 100%;
				}
			}
			position: relative;
			@include border-radius(25px);
			background: $green url(../img/blog-page-bg.png) no-repeat center right;
			overflow: hidden;
			padding:0 1em 0 1em;
			@include rhythm(0, 1, 1, 1); //Margin top, Padding top, Padding bottom, Margin bottom
			@media screen and (max-width: 37.5em) {
				background: $white;
			}
		}
		a {
			text-decoration: none;
			&:hover li {
				background-color: #476323;
				h2, .visit {
					color: #476323;
				}
			}
			//color: $grey;
			//text-decoration: none;
		}
	}
}

//In the media 
body.page-template-in-the-media-page-php {
	.post-list {
		a {
			color: $grey;
			li {
				background: $red url(../img/blog-page-bg.png) no-repeat center right;
			}
			&:hover li {
				background-color: #96090E;
				h2, .visit {
					color: #96090E;
				}
			}
		}
	}
}

//Events
body.page-template-events-page-php {
	.post-list {
		li {
			background: $white;
			.container {
				@include column(9);
			}
			.img-container {
				@include column(3);
				img.thmb {
					float: right;
					//padding: 5px;
					@include border-radius(20px);
					border: solid 1px lighten($grey, 40%);
					width: 145px;
				}
			}
		}
		a {
			color: $grey;
			font-size: 15px;
			text-transform: uppercase;
				&:hover li {
				background-color: $white;
				h2, .visit {
					color: #96090E;
				}
			}
		}
	}
}


.the-time {
	color: $red;
	text-transform: uppercase;
	@include adjust-font-size-to(15px, 1);
}

body.single {
	h2 {
		color: $grey;
		@include rhythm(0, 0.8, 1, 0); //Margin top, Padding top, Padding bottom, Margin bottom
	}
	p:first-child {
		@extend %open_sansbold;
	}
}