//Container structure
.page-wrapper { //Outer most wrapper
	@extend %bdr;
	.page-wrapper__wide { //Inside wide wrapper
		@extend %bdr;
		overflow: hidden;
		&.rel-pos {
			position: relative;
		}
		&.header-background {
			//background-color: $white;
			//background: url(../img/sub-nav-bg.gif) no-repeat center bottom;
			@include transition-duration(0.5s);
			@include transition-timing-function(ease-out);
			padding: 0;
			@include rhythm(0, 1, 1, 0); //Margin top, Padding top, Padding bottom, Margin bottom
		}
		.page-wrapper__wide__inner { //Inner most wrapper with max width
			@extend %bdr;
			@include clearfix;
			@extend %max-width;
			margin: 0 auto;
			padding-left: 1.5em;
			padding-right: 1.5em;
			position: relative;
		}
	}
}


.article-section {
	@extend %bdr;
	@include column(6.5);
	position: relative;
	z-index: 1;
	@include clearfix;
	@media screen and (max-width: 60em) {
		@include column(6.5);
	}
	@media screen and (max-width: 37.5em) {
		@include column(12);
	}
}


// .flexslider2{
// 	display: block;
// 	position: relative; //fixed or absolute may be needed
// 	height: 100%!important;
// 	overflow: hidden!important;
// 	width: 100%!important;
// }

// .flexslider2 .slides,
// .flexslider2 .slides li{
// 	width: 100%!important;
// 	height: 100%!important;
// }


.flexslider2 .slides {
	position: relative;
	img{
	min-height: 100%;
	min-width: 100%;
	///position: absolute;
	// right: 0px;
	// top: 0px;
	//max-width: 10000%!important; //over ride any existing responsive image styling
	//margin: 0 auto!important;
	}
}