//Container structure
.page-wrapper { //Outer most wrapper
	//@extend %bdr;
	@include clearfix;
	//height: 4000px;
	.page-wrapper__wide { //Inside wide wrapper
		//@extend %bdr;
		overflow: hidden;
		&.what-we-do-bg {
				background: url(../img/background-images/what-we-do.png) no-repeat bottom right;
			}
		&.rel-pos {
			position: relative;
		}
		&.header-background {
			//background-color: $white;
			//background: url(../img/sub-nav-bg.gif) no-repeat center bottom;
			@include transition-duration(0.5s);
			@include transition-timing-function(ease-out);
			padding: 0;
			@include rhythm(0, 1, 1, 0); //Margin top, Padding top, Padding bottom, Margin bottom
		}
		.page-wrapper__wide__inner { //Inner most wrapper with max width
			//@extend %bdr;
			@include clearfix;
			@extend %max-width;
			margin: 0 auto;
			padding-left: 1.5em;
			padding-right: 1.5em;
			position: relative;
		}
		&.grey {
			background: $light-grey;
		}
	}
}

.article-section {
	//@extend %bdr;
	@include column(6.5);
	position: relative;
	z-index: 1;
	@include clearfix;
	@media screen and (max-width: 60em) {
		@include column(6.5);
	}
	@media screen and (max-width: 37.5em) {
		@include column(12);
	}
}


// .flexslider2{
// 	display: block;
// 	position: relative; //fixed or absolute may be needed
// 	height: 100%!important;
// 	overflow: hidden!important;
// 	width: 100%!important;
// }

// .flexslider2 .slides,
// .flexslider2 .slides li{
// 	width: 100%!important;
// 	height: 100%!important;
// }


.slides {
	position: relative;
	.bg-full-image{
		min-height: 100%;
		min-width: 100%;
		///position: absolute;
		// right: 0px;
		// top: 0px;
		//max-width: 10000%!important; //over ride any existing responsive image styling
		//margin: 0 auto!important;
	}
}

#success {
	.left-col {

	}
	.right-col {
		ul {
			li {
				@extend %bdr;
			}
		}
	}
}


//Vision values
#vision-values {
	.left-col {
		//@extend %bdr;
		@include column(7);
		@media screen and (max-width: 37.5em) {
			@include column(12);
		}
	}
	.right-col {
		//@extend %bdr;
		@include column(5);
			@media screen and (max-width: 37.5em) {
				@include column(12);
			}
		}
	}


//Job opportunities
.job-opportunities,
.sub-pages {
	.left-col {
		//@extend %bdr;
		@include column(3);
		@include pull(1);
		@media screen and (max-width: 37.5em) {
			@include column(12);
		}
	}
	.right-col {
	.job-opportunities {
		>	p {
			@include rhythm(0, 0, 0, 3); //Margin top, Padding top, Padding bottom, Margin bottom
		}
	}
		@include column(8);
			@media screen and (max-width: 37.5em) {
				@include column(12);
			}
		}
	}



//Sub pages
// .sub-pages {
// 	.left-col {
// 		//@extend %bdr;
// 		@include column(4);
// 		@include pull(1);
// 		@media screen and (max-width: 37.5em) {
// 			@include column(12);
// 		}
// 	}
// 	.right-col {
// 		@include column(7);
// 			@media screen and (max-width: 37.5em) {
// 				@include column(12);
// 			}
// 		}
// 	}	


// .transcript {
// 	i {
// 		&:hover {

// 		}
// 	}
// 	div {

// 	}
// 	}



//Toggle effetc
.toggle-inner {
	display: none;
	// overflow: hidden;
	// max-height: 0;
	// -moz-transition-duration: 0.3s;
	// -webkit-transition-duration: 0.3s;
	// -o-transition-duration: 0.3s;
	// transition-duration: 0.3s;
	// -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	// -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	// -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	// transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.selected {
	display: block;
	// -moz-transition-duration: 0.3s;
	// -webkit-transition-duration: 0.3s;
	// -o-transition-duration: 0.3s;
	// transition-duration: 0.3s;
	// -moz-transition-timing-function: ease-in;
	// -webkit-transition-timing-function: ease-in;
	// -o-transition-timing-function: ease-in;
	// transition-timing-function: ease-in;
	// max-height: 1000px;
	// overflow: hidden;
}




.icon-link {
	.fa-chevron-circle-up,
	.fa-chevron-circle-down {
		color: $grey;
		cursor: pointer;
		vertical-align: middle;
		&:hover {
			color: $red;
		}
	}
	a {
		@include adjust-font-size-to(12px, 1.2);
		color: lighten($red, 10%);
		text-decoration: none;
		vertical-align: middle;
		&:hover {
			color: $red;
		}
	}
}


 