//Helpers
%bdr {
	outline:solid red 1px;
}
 
%open_sansextrabold {
	font-family: 'open_sansextrabold';
}

%open_sansbold {
	font-family: 'open_sansbold';
}

%open_sansregular {
	font-family: 'open_sansregular';
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
	@include box-sizing(border-box);
}

//Grid layout structure
$column-width: 106px;
$gutter-width: 20px;
$columns: 12;

//$column-width: 60;
//$gutter-width: 20;
//$columns: 12;

$total-width: 100%; // Switch from pixels to percentages

%max-width {
 max-width: 60em;
}

//Colours
$black: #000;
$white: #fff;
$red: #b2121a;
$purple: #6b478f;
$blue: #187fb9;
$green: #5b882b;
$mustard: #cc7c0d;
$menu-grey: #585858;
$grey: #646569;
$light-grey: #eeeeee;

$dark-grey: darken($grey, 5%);


//Media quaries
$s: 37.5em;
$m:	60em;
$l: 0em;


$XS: 18em; 	// roughly speaking, around 288px wide with 16px body font
$S: 30em; 	// roughly speaking, around 480px wide with 16px body font
$M: 43em; 	// roughly speaking, around 688px wide with 16px body font
$L: 57em; 	// roughly speaking, around 912px wide with 16px body font

.hidden {
	display: none;
	visibility: hidden;
}

.padding-tb {
	@include rhythm(0, 3, 3, 0); //Margin top, Padding top, Padding bottom, Margin bottom
}

.padding-tb-small {
	@include rhythm(0, 2, 2, 0); //Margin top, Padding top, Padding bottom, Margin bottom
}

.cols {
	@include column(1);
	@extend %bdr;
	@include clearfix;
}

.clear {
	@include clearfix;
}

////Medium
//@media screen and (max-width: 60em) { 
//	@include adjust-font-size-to(36px, 1);
//}
////Small
//@media screen and (max-width: 37.5em) {
//	@include adjust-font-size-to(24px, 1.6);
//}