.video-status {
	p {
    @include adjust-font-size-to(11px);
  }
}
//Responsive video and cover images
.js-video {
  height: 80%;
  width: 100%;
  padding-bottom: 56.5%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  .play {
      width: 90px;
      height: 90px;
      position: absolute;
      z-index: 10;
      left: 50%;
      top: 50%; 
      margin-left: -45px;
      margin-top: -45px;
      cursor: pointer;
      background: url(../img/icons/large-play-icon.png) no-repeat center center;
      background-size: cover;
      @media screen and (max-width:$s) {
        width: 70px;
        height: 70px;
        margin-left: -35px;
        margin-top: -35px;
        @include transition(all 0.2s ease-in-out);
      }
      &:hover {
        background: url(../img/icons/large-play-icon-hover.png) no-repeat center center;
        background-size: cover;
        @include transition(all 0.2s ease-in-out);
      }
    }
  .title-wrapper {
    //@extend %bdr;
    position: absolute;
    right: 70px;
    top: 100px;
    z-index: 3;
    &.left {
      left: 70px;
    }
    h2, p {
      margin: 0;
      padding: 0;
    }
    h2 {
      @include fittext($min-media: 320px, $max-media: 1900px, $min-font-size: 21px, $max-font-size: 48px, $media-increment: 100, $font-increment: 2.5, $ratio: 1, $round: false);
    }
    p {
      @include fittext($min-media: 320px, $max-media: 1900px, $min-font-size: 14px, $max-font-size: 28px, $media-increment: 100, $font-increment: 2.5, $ratio: 1, $round: false);
    }
    @media screen and (max-width:$s) {
      right: 20px;
      top: 20px;
    }
  }
  .cover-image {
  	z-index: 2;
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border: solid 1px $light-grey;
  	//cursor: pointer;
  	&.hide {
  		display: none;
  	}
  }
}
 
.js-video.widescreen {
  padding-bottom: 57.25%;
}
 
.js-video.vimeo {
  padding-top: 0;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video, .youtube-video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}



@media screen and (max-width:$m) {
  .title-wrapper, .play, .cover-image {
    //display: none;
  }
}
