
#primary {
	position: relative;
	background-color: peach;
	@include clearfix;
	//@extend %bdr;
	.inner {
		@extend %max-width;
		//@extend %bdr;
		margin: 0 auto;
		padding: 0 1.5em;
	}
}

#secondary {
	position: relative;
	background-color: $light-grey;
	@include clearfix;
	//@extend %bdr;
}

#header {
	//@extend bdr;
	width: 100%;
	//background: transparent;
	//min-height: 52px;
	//background: red;
	//background: rgba(red, 90%);
	//background: rgba(255,255,255,0.7);
	min-height: 0px;
	//position: fixed;
	z-index: 1000;
	//overflow: visible;
	margin: 0 auto;
	.primary {
		z-index: 1000;
		display: block;
		@include clearfix;
		text-transform: uppercase;
		@include adjust-font-size-to(14px, 0.7);
		.menu {
			position: relative;
			@include clearfix;
			li {
				//display: block;
				//color: red;
				float: left;
	  		height: 100%;
	  		text-align: left;
	  		//@extend %bdr;
	  		&#menu-item-499 { //Logo holder
					width: 280px;
					//@extend %bdr;
					a {
						text-indent:-9999px;
					}
					@media screen and (max-width:1024px) {
						//background: #ccc;
						width: 220px;
					}
					a { 
						@include transition(all 0.8s ease-in-out);
						display: block;
						height: 55px;
						//background: url(sheep.png) center bottom no-repeat, url(betweengrassandsky.png) left top no-repeat;
						background: url(../img/teoco.png) no-repeat 0 0;
						background: url(../img/teoco.svg) no-repeat 0 0, none;
  					//background-image: url(../img/teoco.svg), none;
						background-size: 62%;
						@media screen and (max-width:1024px) {
							background-size: 75%;
						}
						//@extend %bdr;
					}
	  		}
	  		&#menu-item-33 { // About us
	  			width: 130px;
	  		}
	  		&#menu-item-32 { // Our Solutions
	  			width: 140px;
	  		}
	  		&#menu-item-31 { // Our products
	  			width: 140px;
	  		}
	  		&#menu-item-30 { // Latest
	  			width: 100px;
	  		}
	  		&#menu-item-29 { // Success
	  			width: 110px;
	  		}
	  		&#menu-item-28 { // Contact us
	  			width: 100px;
	  		}
	  		a {
	  			display: block;
	  			padding: 17px 0 0 0;
	  			color:#999;
	  			text-decoration: none;
	  			&:hover {
	  				color: $red;
	  			}
	  		}
	  	}
	  }
	}
	.secondary {
		z-index: 999;
		@extend %max-width;
		padding: 20px;
		height: auto;
		display: none;
		@include adjust-font-size-to(12px, 0.7);
		.menu {
			width: 100%;
			>li {
				list-style: none;
				position: absolute;
				//display: block;
				float: left;
				width: 170px;
				>a {
					display: none;
				}
				ul {
					display:block;
					li {
						position: relative;
						width: 100px;
						margin-bottom: 10px;
						a {
							//@extend %bdr;
							display: block;
							padding-left: 29px;
						}
					}
				}
			}
		}
		a {
			color:#999;
			text-decoration: none;
			display: block;
			&:hover {
				color: $red;
			}
			&.active {
				color:red;
			}
		}
	}
}


#primary, #secondary {
	.current-menu-item,
.current-page-ancestor {
	>a {
			color: $red !important;
		}
	}	
}


@media screen and (max-width:60em) {
	#menu-item-33,
	#menu-item-32,
	#menu-item-31,
	#menu-item-30,
	#menu-item-29,
	#menu-item-28,
	#secondary {
		display: none;
	}
}

/*********************************************/
/* Sidr menu
/*********************************************/

#menu-sub-navigation-1 > li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-498 {
	display: none;
}





/*********************************************/
/* Fixed header
/*********************************************/
//Detached menu

.detached {
	.innerbit {
		@include transition(all 0.8s ease-in-out);
		//margin-top: 0px;
		//width: 100%;
		height: 52px;
		right: 0px;
		//@extend %bdr;
		@include clearfix;
		position: relative;
		overflow: hidden;
	}
	&.header-ani {
		position: fixed;
		width: 100%;
		z-index: 100;
		background: $white;
		@include box-shadow($grey 1px 1px 3px);
		@include transition(top 0.8s ease-in-out);
		.innerbit {
			overflow: hidden;
			@include transition(all 0.8s ease-in-out);
			//margin-top: -52px;
			//width: 0px;
			height: 0px;
			//display: none;
		}
		#menu-item-499 {
			//padding-top: 8px !important;
			a {
				background-size: 40% !important;
				background-position: 0 12px !important;
				@include transition(all 0.8s ease-in-out);
				@media screen and (max-width: $s) {
					background-position: 0 17px !important;
				}
			}
		}
	}
}
