@import "normalize.scss";
@import "fittext";
@import "compass/utilities"; 
@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "compass/css3/transform";
@import "typefaces.scss";
@import "fontawesome/font-awesome.scss";
@import "grid.scss";
@import "vars.scss";
@import "flexslider.scss";
@import "structure.scss";
@import "icons.scss";
@import "placeholderText.scss";
@import "forms.scss";
@import "buttons.scss";
@import "success.scss";
@import "video.scss";
@import "accordion.scss";
@import "left-side-menu.scss";
@import "footer-pages.scss";
@import "landing-page.scss";
@import "sub-pages.scss";
@import "search-results.scss";
@import "news-posts.scss";
@import "leadership.scss";
@import "office-loctions.scss";

@import "Hamburger-icon.scss";
@import "logo.scss";
@import "slider.scss";
//@import "main-navigation.scss";
//@import "navigation.scss";
@import "wolf-navigation.scss";
@import "footer.scss";
@import "jquery.sidr.light.scss";




//html {
//  @include adjust-leading-to(1);
//}

body,html {
	position: relative;
	height: 100%;
	@include clearfix;
}
body {
	//color: $black;
	@extend %open_sansregular;
	color: $grey;
	//background: lighten($black, 70%);
	//background: #fff url('http://www.baselineme.com/6') center top repeat;
}

//Fonts
//$base-font-size: 18px;
//$base-line-height: 24px;
//@include establish-baseline;

//Baseline
$base-font-size: 18px;
$base-line-height: 8px;

@include establish-baseline;

html {
	@include adjust-leading-to(4); 
}

//-webkit-font-smoothing: antialiased;

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	@extend %open_sansbold;
	//@extend %open_sansregular;
	font-weight: 100; 
	color: $black;
}

h1, h2 {
	@include adjust-font-size-to(48px, 7);
	@include fittext($min-media: 320px, $max-media: 1900px, $min-font-size: 30px, $max-font-size: 48px, $media-increment: 100, $font-increment: 2.5, $ratio: 1, $round: false);
	@include rhythm(0, 0, 0, 2); //Margin top, Padding top, Padding bottom, Margin bottom
	color: $red;
}

.flexslider3 {
	.flex-viewport {
		h2 {
			@include fittext($min-media: 320px, $max-media: 1900px, $min-font-size: 18px, $max-font-size: 31px, $media-increment: 100, $font-increment: 2.5, $ratio: 1, $round: false);		
			@include adjust-leading-to(3);
		}
	}
}

p {
	//color: $grey;
	@include adjust-font-size-to(18px, 3.5);
	//font-size: 1.125em;
	//@include fittext($min-media: 320px, $max-media: 1900px, $min-font-size: 1.5em, $max-font-size: 1.5em, $media-increment: 100, $font-increment: 2.5, $ratio: 1, $round: false);
	@include rhythm(0, 0, 0, 2); //Margin top, Padding top, Padding bottom, Margin bottom
	&.large {
		//@include adjust-font-size-to(24px, 5);
		font-size: 1.5em;
	}
	strong {
		@extend %open_sansbold;
	}
}

.larger-text-wrapper {
	p {
		font-size: 1.5em;
	}
}

body.home {
	.larger-text-wrapper {
		p {
			@include adjust-font-size-to(18px, 3.5);
		}
	}
}	

article {
	ul {
		//color: $grey;
		@include adjust-font-size-to(18px, 3.5);
			@include rhythm(0, 0, 0, 2); //Margin top, Padding top, Padding bottom, Margin bottom
			li {
				list-style-type: disc;
				margin-left: 24px;
				//list-style-type: none;
				// &:before {
				// 	/* Unicode bullet symbol */
				// 	content: '\2022 ';
				// 	/* Bullet color */
				// 	padding-right: 0.5em;
				// }
			}
		}
	}



	.solution {
		article {
			ul {
				li {
					&:before {
						color: $purple;
					}
				}
			}
		}
	}


	.product {
		article {
			ul {
				li {
					&:before {
						color: $blue;
					}
				}
			}
		}
	}

	blockquote {
		@media screen and (max-width: 37.5em) {
			display: none;
		}
		p {
			@include rhythm(0, 7, 0, 0); //Margin top, Padding top, Padding bottom, Margin bottom
			color: $red;
			font-style: italic;
			@include adjust-font-size-to(24px, 5);
		//@include fittext($min-media: 320px, $max-media: 1900px, $min-font-size: 18px, $max-font-size: 24px, $media-increment: 100, $font-increment: 2.5, $ratio: 1, $round: false)
	}
}


//Heading colours
.slider {
	* {
		color: $white;
	}
}

//Mix it up
.container .mix{
	display: none;
}


/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}


a {
	color: $dark-grey;
	&:hover {
		text-decoration: none;
	}
}


// .section-navigation {
// 	position: fixed;
// 	z-index: 400;
// 	right: 50px;
// 	top: 210px;
// }
