@import "normalize.scss";
@import "fittext";
@import "compass/utilities";
@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "compass/css3/transform";
@import "typefaces.scss";
@import "fontawesome/font-awesome.scss";
@import "grid.scss";
@import "vars.scss";
@import "flexslider.scss";
@import "structure.scss";
@import "icons.scss";
@import "placeholderText.scss";
@import "forms.scss";
@import "buttons.scss";
@import "footer.scss";
@import "success.scss";
@import "video.scss";
@import "accordion.scss";
@import "left-side-menu.scss";
@import "footer-pages.scss";
@import "landing-page.scss";
@import "sub-pages.scss";

@import "Hamburger-icon.scss";
@import "logo.scss";
@import "slider.scss";
@import "main-navigation.scss";
@import "jquery.sidr.light.scss";

 

//html {
//  @include adjust-leading-to(1);
//}
 
body,html {
	position: relative;
	height: 100%;
	@include clearfix;
}
body {
	//color: $black;
	@extend %open_sansregular;
	//background: lighten($black, 70%);
	//background: #fff url('http://www.baselineme.com/6') center top repeat;
}

//Fonts
//$base-font-size: 18px;
//$base-line-height: 24px;
//@include establish-baseline;

//Baseline
$base-font-size: 18px;
$base-line-height: 8px;
 
@include establish-baseline;

html {
  @include adjust-leading-to(4); 
}

//-webkit-font-smoothing: antialiased;

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	@extend %open_sansbold;
	font-weight: 100; 
	color: $black;
}

h1, h2 {
	@include adjust-font-size-to(48px, 6);
	color: $red;
	@include fittext($min-media: 320px, $max-media: 1900px, $min-font-size: 36px, $max-font-size: 48px, $media-increment: 100, $font-increment: 2.5, $ratio: 1, $round: false);
	@include rhythm(0, 0, 0, 2); //Margin top, Padding top, Padding bottom, Margin bottom
}

p {
	color: $grey;
	@include adjust-font-size-to(24px, 5);
	//@include fittext($min-media: 320px, $max-media: 1900px, $min-font-size: 18px, $max-font-size: 24px, $media-increment: 100, $font-increment: 2.5, $ratio: 1, $round: false);
	@include rhythm(0, 0, 0, 2); //Margin top, Padding top, Padding bottom, Margin bottom
}

blockquote {
	p {
		color: $red;
		font-style: italic;
		@include adjust-font-size-to(24px, 5);
		//@include fittext($min-media: 320px, $max-media: 1900px, $min-font-size: 18px, $max-font-size: 24px, $media-increment: 100, $font-increment: 2.5, $ratio: 1, $round: false)
	}
}


//Heading colours
.slider {
	* {
		color: $white;
	}
}

//Mix it up
.container .mix{
		display: none;
	}

// .section-navigation {
// 	position: fixed;
// 	z-index: 400;
// 	right: 50px;
// 	top: 210px;
// }
